.video-container {
    height: 100vh;
}

.backgroundvideo {
    height: 100vh;
}

.navbar.bg-dark {
    border:none !important;
}

/* .VideoContainer {
    margin-top: 25px;
    background-color: transparent;
} */

