.video-container {
  height: 100vh;
}

.backgroundvideo {
  height: 100vh;
}

.navbar.bg-dark {
  border: none !important;
}

/* .VideoContainer {
    margin-top: 25px;
    background-color: transparent;
} */
.side-bar {
  height: 90% !important;
  z-index: 10000;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(80, 232, 243, 0.693);
  background-color: rgb(33, 30, 30);
  /* background-image: url(assets/Beeple-Into-The-Ether-Token-Art.jpeg); */
  transition: 2.8s ease;
  /* width: 550px; */
}

.side-bar .content .container {
  display: flex;
  flex-direction: column;
}

.toggle-menu {
  height: 50px;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 10rem;
  width: 10px;
  position: absolute;
  outline: none;
  z-index: 1;
  /* background-color: rgb(242, 180, 249); */
  background-color: rgb(230, 77, 166, 0.2);
  border-color: rgb(80, 232, 243, 0.693);
  border-right: 0;
  /* z-index: 999999; */
}

/* .toggle-menu:hover {
  color:rgb(242, 180, 249);
  background: rgb(181, 248, 254);
  box-shadow: 0 0 10px rgba(80, 232, 243, 0.693), 0 0 40px rgba(80, 232, 243, 0.693), 0 0 80px rgba(80, 232, 243, 0.693);
  transition-delay: 1s;
} */

.NavItem {
  color: black;
}

.InfoPopup {
  z-index: 9999;
}

.Popup {
  z-index: 9999;
}

#EntranceGateSidebarContainer {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
  /* justify-content: flex-start; */
  background-image: url(/src/assets/BeepleIntoTheEtherTokenArt.jpeg);
  background-size: 550px 90vh;
  border-left-color: rgb(242, 180, 249);
  border-left-width: 3px;
  width: 300px;
  height: 90vh;
}
.EntranceGateSidebarItemIcons {
}

.SidebarIconsButtons,
.SidebarIconsButtons {
  border-radius: 50%;
  margin: 20px;
  background-color: rgba(230, 77, 166, 0.2);
  box-shadow: 0 0 30px rgba(245, 172, 215, 0.913);
  border: 1.5px solid rgba(80, 232, 243, 0.693);
  z-index: 1;
  transition: 0.5s;
  position: relative;
  /* backdrop-filter: blur(15px); */
}

.SidebarIconsButtons:hover,
.SidebarIconsButtons:hover {
  background-color: rgba(252, 7, 141, 0.2);
  border: 1px solid rgba(203, 250, 92, 0.945);
}

.SidebarIconsButtonsRight {
  border-radius: 50%;
  margin: 20px;
  margin-left: 200px;
  background-color: rgba(230, 77, 166, 0.2);
  box-shadow: 0 0 30px rgba(245, 172, 215, 0.913);
  border: 1.5px solid rgba(80, 232, 243, 0.693);
  z-index: 1;
  transition: 0.5s;
  position: relative;
}

.SidebarIconsButtonsRight:hover {
  color: rgb(242, 180, 249);
  background: rgb(181, 248, 254);
  box-shadow: 0 0 10px rgba(80, 232, 243, 0.693), 0 0 40px rgba(80, 232, 243, 0.693),
    0 0 80px rgba(80, 232, 243, 0.693);
  transition-delay: 1s;
}

#EntranceGateSidebarItemFindATremoHunt {
  margin: 0 auto;
  width: 26rem;
  height: 20rem;
  background: rgba(16,18,27,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  backdrop-filter: blur(0.5px);
}

.MessageInEntranceSidebar {
  margin: 0 auto;
  width: 6rem;
  height: 10rem;
  background: rgba(16,18,27,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  backdrop-filter: blur(0.5px);
}

/* .text-dark {
  margin: 0 auto;
  width: 16rem;
  height: 20rem;
  background: rgba(16,18,27,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  backdrop-filter: blur(2px);
} */

#CreateTremoSidebarContainer {
  background-image: url(/src/assets/beeple-illestrater-12-15-20.jpeg);
  background-size: 550px 90vh;
  border-left-color: rgb(242, 180, 249);
  border-left-width: 3px;
  width: 300px;
  height: 90vh;
}

#TreasureChestSidebarContainer {
  background-image: url(/src/assets/beeple-artwork-digital-art-3d-illustration-hd-wallpaper-preview.jpeg);
  background-size: 550px 90vh;
  border-left-color: rgb(242, 180, 249);
  border-left-width: 3px;
  width: 550px;
  height: 90vh;
}

#HelpInspirationsSidebarContainer {
  background-image: url(/src/assets/diamond-neon-light-arena.jpeg);
  background-size: 550px 90vh;
  width: 550px;
  height: 90vh;
}

/* .form-group {
  margin: 0 auto;
  width: 26rem;
  height: 20rem;
  background: rgba(16,18,27,0.4);
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border-radius: 10px;
  backdrop-filter: blur(0.5px);
} */
