.video-container {
  height: 100vh;
}

.backgroundvideo {
  height: 100vh;
}

.navbar.bg-dark {
  border: none !important;
}

/* .VideoContainer {
    margin-top: 25px;
    background-color: transparent;
} */
.side-bar {
  height: 90% !important;
  z-index: 10000;
  position: absolute;
  display: flex;
  flex-direction: column;
  border-right: 1px solid;
  border-radius: 0;
  border-color: rgba(80, 232, 243, 0.693);
  background-color: rgb(33, 30, 30);
  /* background-image: url(assets/Beeple-Into-The-Ether-Token-Art.jpeg); */
  transition: 2.8s ease;
  /* width: 550px; */
}

.side-bar .content .container {
  display: flex;
  flex-direction: column;
}

.toggle-menu {
  height: 50px;
  border-top-left-radius: 10rem;
  border-bottom-left-radius: 9rem;
  width: 10px;
  position: absolute;
  outline: none;
  z-index: 1;
  background-color: rgba(80, 232, 243, 0.693);
  border-color: rgba(138, 53, 206, 0.693);
  border-right: 0;
  /* z-index: 999999; */
}

.NavItem {
  color: black;
}

.InfoPopup {
  z-index: 9999;
}

.Popup {
  z-index: 9999;
}

#EntranceGateSidebarContainer {
  /* display: flex;
  flex-direction: column;
  flex-wrap: nowrap; */
  /* justify-content: flex-start; */
  background-image: url(/src/assets/BeepleIntoTheEtherTokenArt.jpeg);
  width: 550px;
  height: 90vh;

}

.SidebarIconsButtons {
  border-radius: 50%;
  margin: 20px;
  background-color: Transparent;
}

#EntranceGateSidebarItemIcons {
  /* align-self: flex-start; */
}

#EntranceGateSidebarItemFindATremoHunt {
  /* align-items: flex-end; */
  
}